.navbar-root-container{
width: 100%;
}
.navbar-list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    font-size: 2rem;
    color: #00fe34;
}
.link-item{
    cursor: pointer;
    box-sizing: border-box;
}
.link-item:hover{
    background-color:#c7c7c7;
    
}